{% extends 'eshop_ui/base.html'%}
{% load static %}
{% block content %}

<!-- Preloader -->
<div class="preloader">
	<div class="preloader-inner">
		<div class="preloader-icon">
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<!-- End Preloader -->
<!-- Breadcrumbs -->
{% include 'eshop_ui/ui_ux/shop_grid/breadcrumbs.html' %}
<!-- End Breadcrumbs -->

<!-- Checkout Area -->
{% include 'eshop_ui/ui_ux/checkout/checkout.html' %}
<!-- End Checkout -->

<!-- Service Area -->
{% include 'eshop_ui/ui_ux/checkout/services.html' %}
<!-- End Service Area -->

<!-- Start Shop Newsletter  -->
{% include 'eshop_ui/ui_ux/landing/eshop_newsletter.html' %}
<!-- End Shop Newsletter -->

<!-- Modal -->
{% include 'eshop_ui/ui_ux/landing/modal.html' %}
<!-- Modal end -->

<!-- Start Footer Area -->
{% include 'eshop_ui/ui_ux/footer.html' %}
{% endblock %}